a {
    color: #000000;
    text-decoration: none;
}
.container-fluid {
    height: 100vh;
}

.container-fluid .row {
    height: 100%;
}

.slideshow {
    height: 30vh;
    width: auto;
    margin: 30px;
}

.slideshow img {
    width: 100%;
    height: 100%;
}

.nav {
    margin: 10px 30px;
    --bs-link-color: #000000;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: #000000;
}

.nav-underline .nav-link:focus, .nav-underline .nav-link:hover {
    border-bottom-color: #ffc257;
}

#menu {
    margin: 0px 30px;
    width: auto;
    height: 54vh;
    background-color: ghostwhite;
}

#menu .col {
    height: 40vh;
    padding: 10px;
    margin-top: 20px;
    border-radius: 15px;
}

img {
    object-fit: cover;
    clip-path: inset(0);
    width: 100%;
    height: 70%;
    border-radius: 15px;
    margin-bottom: 5px;
}



.info {
    display: flex;
    align-items: flex-start;
    height: 20%;
}

#menu .col button {
    height: 10%;
    width: 100%;
    border-radius: 10px;
    background-color: #eba01f;
    border: none;
    color: white;
    font-weight: bolder;
}

#menu .col button:hover{
    background-color: #cb8b1d;
}

#content #menu {
    overflow-y: scroll;
}
.info {
    display: flex;
    justify-content: space-between;
    height: 18%;
}

.desc, .price {
    font-size: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Madimi One", sans-serif;
}

h3 {
    margin: 30px 0px;
    margin-left: 30px;
    color: grey;
}

#bread .btn img, #meat .btn img, #topping .btn img, #vegetable .btn img, #sauce .btn img{
    height: 60px;
    width: 60px;
}

#orders #list-order {
    margin: 30px;
    width: auto;
    height: 40vh;
    overflow-y: scroll;
}

#orders #list-order .row {
    margin-bottom: 10px;
    width: auto;
    height: 15vh;
}

#orders #total {
    margin: 30px;
    width: auto;
    background-color: blue;
    height: 15vh;
}

.line {
    height: 0.25rem;
    background-color: black;
    margin: 10px 30px;
    width: auto;
}

#orders .d-grid .btn {
    width: auto;
    margin: 30px;
    height: 8vh;
}

.modal-body{
    padding: 10px 30px;
}